.vigilente-description {
  color: $white;
  font-size: 35px;
  font-weight: 400;
  margin: 40px 0;
  max-width: 580px;
}

.vigilente-section {
  background-image: linear-gradient(to top, #391533 0%, #501947 100%);
}

.vigilente-phone-mobile {
  display: none;
}

@media #{$phone}, #{$tablet} {
  .vigilente-phone {
    display: none;
  }

  .vigilente-phone-mobile {
    display: block;
    margin: 0 auto;
  }
}

