%reports-cell {
  display: inline-table;
  vertical-align: middle;
}

/*CRIMES HEADER*/

.reports-crimes-header {
  @extend %display-table;

  padding: 15px 0;
}

.reports-crimes-title {
  @extend %title;

  color: $valencia;
  display: table-cell;
  vertical-align: middle;
}

.reports-crimes-info {
  text-align: right;
}

.reports-crimes-description {
  @extend %reports-cell;
}

.reports-separator {
  @extend %reports-cell;

  border-right: 1px solid $tundora;
  height: 40px;
  margin-left: 10px;
}

.reports-crimes-app {
  @extend %reports-cell;

  color: $tundora;
  font-size: 14px;
  margin-left: 10px;

  img {
    max-height: 40px;
  }
}

/*CRIMES LIST*/

.reports-crimes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reports-crime {
  border-top: 1px solid $concrete;
}

/*ITEM CRIME COUNTER*/

.reports-crime-counter {
  @extend %reports-cell;

  text-align: right;
  min-width: 50px;
}

/*ITEM CRIME IMAGES*/

.reports-crime-images {
  @extend %reports-cell;

  margin: 0;
  padding: 15px;
}

.reports-image-caption {
  font-size: 12px;
  color: $tundora;
}


/*ITEM CRIME DESCRIPTION*/

.reports-crime-description {
  @extend %reports-cell;

}

.reports-crime-description-title {
  color: $wineBerryLight;
  font-size: 16px;
  margin: 5px 0;
}

.reports-crime-description-text {
  font-size: 14px;
  margin: 5px 0;
}

.reports-crime-description-more {
  color: $valencia;
  font-size: 14px;
  text-decoration: none;
}

/*CRIMES FOOTER*/
.reports-crimes-pagination {
  @extend %display-table;
}

.reports-crimes-page {
  color: $dustyGray;
  display: table-cell;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &.active {
    color: $tundora;
  }
}

