%reports-table {
  display: inline-table;
  vertical-align: middle;
}

%reports-cell {
  display: table-cell;
  vertical-align: middle;
}

/*CRIMES HEADER*/

.reports-crimes-header {
  @extend %display-table;

  padding: 15px 0;
}

.reports-crimes-title {
  @extend %title;

  color: $valencia;
  display: table-cell;
  vertical-align: middle;
}

.reports-crimes-info {
  text-align: right;
}

.reports-crimes-description {
  @extend %reports-table;
}

.reports-separator {
  @extend %reports-table;

  border-right: 1px solid $tundora;
  height: 40px;
  margin-left: 10px;
}

.reports-crimes-app {
  @extend %reports-table;

  color: $tundora;
  font-size: 14px;
  margin-left: 10px;

  img {
    max-height: 40px;
  }
}

/*CRIMES LIST*/

.reports-crimes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reports-crime {
  border-top: 1px solid $concrete;
  position: relative;

  &.active {
    @include box-shadow(0px 0px 10px $dustyGray);
    background-color: $concrete;
  }
}

.reports-crime-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;

  .active & {
    display: block;
  }
}

/*ITEM CRIME COUNTER*/

.reports-crime-counter {
  @extend %reports-cell;

  text-align: right;
  min-width: 50px;
}

/*ITEM CRIME IMAGES*/

.reports-crime-images {
  @extend %reports-cell;

  margin: 0;
  width: 100px;
  padding: 15px;

  a {
    display: block;
    margin: 5px 0;
    max-width: 100%;
  }

  a:nth-of-type(n+2) {
    display: none;
  }

  .active & {
    a:nth-of-type(n+2) {
      display: block;
    }
  }
}

.reports-crime-image:hover {
  cursor: pointer;
}

.reports-image-caption {
  font-size: 12px;
  color: $tundora;

  .active & {
    display: none;
  }
}

/*ITEM CRIME DESCRIPTION*/
.reports-crime-description {
  @extend %reports-cell;
}

.reports-crime-description-title {
  color: $wineBerryLight;
  font-size: 16px;
  margin: 5px 0;
}

.reports-crime-description-text {
  font-size: 14px;
  margin: 5px 0;
  max-height: 1.3em;
  max-width: 40em;
  overflow: hidden;

  .active & {
    max-height: none;
    max-width: none;
  }
}

.reports-crime-description-more {
  color: $valencia;
  font-size: 14px;
  text-decoration: none;

  .active & {
    display: none;
  }
}

/*CRIMES FOOTER*/
.reports-crimes-footer {
  border-bottom: 1px solid $sandyBrown;
  padding: 50px 0 35px 0;
}

.reports-crimes-pagination {
  @extend %display-table;
}

.reports-crimes-page {
  color: $dustyGray;
  display: table-cell;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &.active {
    color: $tundora;
  }
}

@media #{$phone} {
  .reports-crimes-info {
    display: none;
  }

  .reports-crime-big-image-container {
    width: 100%;
  }
}

