%reports-header-link {
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
}

.reports-header {
  @include sizing(border-box);
  @extend %display-table;

  background-image: linear-gradient(to top, #391533 0%, #501947 100%);
  padding: 10px 20px;
}

.reports-header-title {
  display: table-cell;
}

.reports-header-nav {
  display: table-cell;
  text-align: right;
}

.reports-header-burguer {
  display: none;
  vertical-align: middle;
}

.reports-header-about {
  @extend %reports-header-link;

  color: $sandyBrown;
}

.reports-header-consult {
  @extend %reports-header-link;

  color: $valencia;
}

@media #{$phone} {
  .reports-header-nav {
    display: none;
  }

  .reports-header-burguer {
    display: table-cell;
  }
}

@media #{$tablet} {
  .reports-header-burguer {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

