.reports-content {
  display: table;
}

.reports-nav {
  background-color: $concrete;
  display: table-cell;
  min-width: 350px;
  text-align: right;
  padding-left: 30px;
}

.reports-nav-title {
  @extend %title;

  color: $valencia;
  padding-right: 15px;
}

.reports-nav-link {
  border-top: 1px solid $white;
  color: $dustyGray;
  display: block;
  font-size: 14px;
  padding: 15px;
  text-decoration: none;

  &.active {
    color: $wineBerryDark;
  }

  &:hover {
    background-color: darken($concrete, 10%)
  }

  span {
    display: inline-table;
    vertical-align: middle;
  }

  img {
    display: inline-table;
    margin-left: 15px;
    vertical-align: middle;
  }
}

@media #{$phone} {
  .reports-nav {
    @include transition(500ms, ease-in-out);

    left: -380px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;

    &.active {
      left: 0;
    }
  }
}

