@mixin transition($time, $effect) {
  -webkit-transition: $time $effect;
  -moz-transition: $time $effect;
  -o-transition: $time $effect;
  transition: $time $effect;
}

@mixin placeholder {
  ::-webkit-input-placeholder { @content }
  :-moz-placeholder           { @content }
  ::-moz-placeholder          { @content }
  :-ms-input-placeholder      { @content }
}

@mixin button($primary-color, $secondary-color) {
  @include transition(500ms, ease-in-out);
  background: $primary-color;
  border: 1px solid $primary-color;

  &:hover {
    background: $secondary-color;
    color: $primary-color !important;
  }
}

@mixin sizing($sizing) {
  box-sizing:         $sizing;
  -webkit-box-sizing: $sizing;
  -moz-box-sizing:    $sizing;
}

@mixin box-shadow($props...) {
  -webkit-box-shadow: $props;
  -moz-box-shadow:    $props;
  box-shadow:         $props;
}

