$black: #000000;
$concrete: #f2f2f2;
$dustyGray: #9B9B9B;
$sandyBrown: #efad58;
$tundora: #4a4a4a;
$valencia: #d44f3d;
$white: #ffffff;
$wineBerryDark: #501947;
$wineBerryLight: #391533;

$phone: '(max-width: 640px)';
