html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: table;
}

footer {
  text-align: center;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}
