.how-wrapper { text-align: center }

.how-title {
  color: $sandyBrown;
  font-size: 6vmin;
  margin: 0 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.how-article {
  display: inline-table;
  text-align: center;
  width: 30%;
}

.how-image {
  max-width: 100%;
}

.how-subtitle {
  color: $white;
  font-size: 4vmin;
  text-transform: uppercase;
}

.how-body {
  color: $valencia;
}
