.app-logo-container {
  display: inline-table;
}

.app-logo {
  @extend %reports-table;

  color: $tundora;
  font-size: 14px;

  .home & {
    margin-right: 20px;
  }

  .reports & {
    margin-left: 10px;

    img {
      max-height: 40px;
    }
  }
}

.app-logo-obtain {
  display: inline-table;
  vertical-align: middle;
  margin-left: 10px;
}

@media #{$phone} {
  .app-logo-container {
    display: block;
    text-align: center;
  }
}

