.colima {
  background: $white;
}

.colima-disclaimer {
  font-weight: 400;
  font-size: 16px;
}

.colima-participant {
  display: inline-table;
  margin: 15px;
  width: 20%;

  img {
    width: 100%;
  }
}

.colima-social {
  margin: 0 10px;
}

.colima-vigilentemx {
  display: block;
}

@media #{$phone} {
  .colima-participant {
    width: 40%;
  }
}

