<div class='app-logo-container'>
  <%= link_to image_tag("appstore_icon_#{type}.png", alt: I18n.t(:app_store)), '#', class: 'app-logo' %>
  <%= link_to image_tag("playstore_icon_#{type}.png", alt: I18n.t(:google_play)), '#', class: 'app-logo' %>
</div>
