<div class='app-logo-container'>
  <%= link_to image_tag("playstore_icon_#{type}.png", alt: I18n.t(:google_play)), 'https://play.google.com/store/apps/details?id=com.crowdint.reportatesting&hl=es', class: 'app-logo' %>
</div>
