<section id='colima' class="<%= klass %>">
  <div class='wrapper'>
    <h3 class='colima-disclaimer'><%= raw I18n.t(:disclaimer, scope: :colima) %></h3>
    <article class='colima-participant'>
      <%= link_to image_tag('logo_vamos_colima.jpg', alt: I18n.t(:como_vamos, scope: :colima), class: 'center'), 'http://comovamoscolima.org/' %>
      <%= image_tag('hashtag_vamos_colima.jpg', alt: I18n.t(:como_vamos_twitter, scope: :colima), class: 'center') %>
    </article>
  </div>
</section>
