<section id='colima' class="<%= klass %>">
  <div class='wrapper'>
    <article>
      <%= link_to image_tag('logo_vamos_colima.jpg', alt: I18n.t(:como_vamos), class: 'center'), 'http://comovamoscolima.org/' %>
      <%= image_tag('hashtag_vamos_colima.jpg', alt: I18n.t(:como_vamos_twitter), class: 'center') %>
    </article>
  </div>
</section>
