.section-dark {
  background: linear-gradient($wineBerryDark, $wineBerryLight);
  color: $white;
  display: table-row;
  height: 100vh;
}

.section-light {
  @extend .section-dark;

  background: $concrete;
  color: $wineBerryDark;
}

.section-phone-image {
  display: inline-block;
  margin-right: 30px;
  width: 250px;
}

.section-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.section-reports {
  display: table-cell;
  position: relative;
  width: 100%;
}

.sections-map {
  padding: 25px 25px 0px 25px;
}

.sections-crimes {
  padding: 0px 25px 25px 25px;
}
