.section-dark {
  background: linear-gradient($wineBerry-dark, $wineBerry-light);
  color: $white;
  display: table-row;
  height: 100vh;
}

.section-light {
  @extend .section-dark;

  background: $concrete;
  color: $wineBerry-dark;
}

.section-phone-image {
  display: inline-block;
  margin-right: 30px;
  width: 250px;
}

.section-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

