<footer>
  <nav class='reports-crimes-pagination'>
    <%= link_to I18n.t(:prev, scope: [:reports, :main]), '#', class: 'reports-crimes-page' %>
    <%= link_to I18n.t(:next, scope: [:reports, :main]), '#', class: 'reports-crimes-page active' %>
  </nav>
</footer>

